{% extends 'base.html' %}

{% block title %}Logowanie{% endblock title %}
    
{% block content %}
    <h1>Logowanie</h1>
    <div class="error1">
        {% if error %}
            {{error}}
        {% endif %}
    </div>    
    <p>Wypełnij poniższy formularz aby się zalogować:</p>
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Zaloguj"></p>
    </form>
    <p>
        <a href="{% url 'password_reset' %}">Zapomniałeś hasła?</a>
    </p>
{% endblock content %}
