{% extends 'base.html' %}

{% block title %}Odzyskiwanie hasła{% endblock title %}

{% block content %}
    <h1>Odzyskiwanie hasła</h1>
    {% if validlink %}
        <p>Podaj poprawne hasło:</p>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Zmień hasło"></p>
        </form>
    {% else %}
        <p>Łącze pozwalające na odzyskanie hasła jest nieprawidłowe, ponieważ prawdopodobnie zostało użyte już wcześniej. Musisz ponownie zacząć procedure odzyskania hasła</p>
    {% endif %}
{% endblock content %}
    